* { margin: 0; padding: 0; box-sizing: border-box; }

  body, html {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background: #fffbfb;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #welcome {
    font-size: 2.5rem;
    opacity: 1;
    transition: opacity 1.5s;
  }